// import themes
@use '../theme/_theme' as theme;

// import css reset
@use '../resets/reset';

html, body {
    //height: 100%; UNKNOWN IF THIS IS NEEDED FOR BURGER MENU, IF SO ADD MEDIA QUERY
}

// set background color
body {
    background-color: theme.$background-base;
    color: theme.$foreground-dark;
    font-family: theme.$core-font;
    padding: 1rem;
}
