// import themes
@use '../theme/_theme' as theme;

// set background color
body {
    background-color: theme.$background-base;
    color: theme.$foreground-dark;
    font-family: theme.$core-font;
    padding: 1rem;
}
