@use '../../styles/theme/theme' as theme;

.nav {
    margin-right: 1rem;
}

.navElement {
    padding-left: 1.5rem;

    &:hover {
        color: theme.$foreground-light;
        transition-duration: 0.3s;
    }
}