.markdown {
  padding-left: 3rem;
  padding-right: 3rem;
  h1 {
    font-size: 130%;
  }

  h2 {
    font-size: 120%;
    font-weight: bold;
  }

  ul {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
