.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  padding-top: 5rem;
}

.splash {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(/images/me_tetons_large.jpg) no-repeat center center fixed;
}

.about {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}