@mixin lg-screen{
  @media only screen and (max-width: 3000px) {
      @content;
  }
}

@mixin md-screen{
  @media only screen and (max-width: 1800px) {
      @content;
  }
}

@mixin sm-screen{
  @media only screen and (max-width: 1000px) {
      @content;
  }
}

@mixin xs-screen{
  @media only screen and (max-width: 900px) {
      @content;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  padding-top: 5rem;
}

.splash {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include lg-screen {
    background: url(/images/me_tetons_large.jpg) no-repeat center center fixed;
  }

  @include md-screen {
    background: url(/images/me_tetons.jpg) no-repeat center center fixed;
  }

  @include sm-screen {
    background: url(/images/me_tetons_small.jpg) no-repeat center fixed;
  }
}

.about {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}