$primary-base: #226CE0;
$primary-light: #808A9F;
$primary-dark: #14438F;

$accent-base: #FFA400;
$accent-light: #FFBF47;
$accent-dark: #E09200;

$foreground-base: #2a2f30;
$foreground-light: #6e6e6e;
$foreground-dark: #092327;

$on-foreground: #d2d2d2ee;
$on-foreground-light: #f9f9f9ee;

$background-base: #e4e6e2;
$background-light: #f7f9f5;
$background-dark: #E0E2DB;

$burger-menu-background: #707888;
