@import '../global/include-media';

// define extra media queries here...
$breakpoints: (
    // iphones, might need to do work with the landscape version here
    iphone-6-7-8: 375px, // retina2x
    iphone-6-7-8-plus: 414px, // retina2x
    iphone-10: 375px, // retina3x

    // default mobile
    phone: 375px,

    // default tablet
    tablet: 768px,

    // default laptop
    laptop: 1200px,
)