@mixin lg-screen {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

@mixin md-screen {
  @media only screen and (min-width: 1101px) {
    @content;
  }
}

@mixin sm-screen {
  @media only screen and (min-width: 901px) {
    @content;
  }
}

@mixin xs-screen {
  @media only screen and (min-width: 0px) {
    @content;
  }
}

.container {
  // min height is 100vh incase page goes longer
  min-height: 100vh;

  // forces footer at bottom
  display: flex;
  flex-direction: column;

  @include sm-screen {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
  }
}

.mainContent {
  // forces the footer to be placed at the bottom
  flex: 1;
}

.mainContainer {
  max-height: 100vh;

  // force scroll snapping on larger screen sizes
  @include sm-screen {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
}

.splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(/images/me_tetons_large.jpg) no-repeat center center fixed;
  background-size: cover;

  @include lg-screen {
    background: url(/images/me_tetons_large.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  @include md-screen {
    background: url(/images/me_tetons.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  @include sm-screen {
    background: url(/images/me_tetons_small.jpg) no-repeat center center;
    background-size: cover;
    scroll-snap-align: start;
  }

  @include xs-screen {
    background: url(/images/me_tetons_small.jpg) no-repeat center center;
    background-size: cover;
  }
}
