@mixin lg-screen {
  @media only screen and (max-width: 3000px) {
    @content;
  }
}

@mixin md-screen {
  @media only screen and (max-width: 1800px) {
    @content;
  }
}

@mixin sm-screen {
  @media only screen and (max-width: 1100px) {
    @content;
  }
}

@mixin xs-screen {
  @media only screen and (max-width: 900px) {
    @content;
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
}

.mainContent {
  flex: 1;
}

.mainContainer {
  overflow-y: scroll;
  max-height: 100vh;
  scroll-snap-type: y mandatory;
}

.splash {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  background: url(/images/me_tetons_large.jpg) no-repeat center center fixed;
  background-size: cover;

  @include lg-screen {
    background: url(/images/me_tetons_large.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  @include md-screen {
    background: url(/images/me_tetons.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  @include sm-screen {
    background: url(/images/me_tetons_small.jpg) no-repeat center center;
    background-size: cover;
  }

  @include xs-screen {
    background: url(/images/me_tetons_small.jpg) no-repeat center center;
    background-size: cover;
  }
}
